<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema Venta</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width:240px;">
        <mat-nav-list>

            <mat-list-item routerLink="/pages/dashboard">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <div matListItemTitle>Dashboard</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/usuarios">
                <mat-icon matListItemIcon>group</mat-icon>
                <div matListItemTitle>Usuarios</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/productos">
                <mat-icon matListItemIcon>collections_bookmark</mat-icon>
                <div matListItemTitle>Productos</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/venta">
                <mat-icon matListItemIcon>currency_exchange</mat-icon>
                <div matListItemTitle>Venta</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/historial_venta">
                <mat-icon matListItemIcon>edit_note</mat-icon>
                <div matListItemTitle>Historial Ventas</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/reportes">
                <mat-icon matListItemIcon>receipt</mat-icon>
                <div matListItemTitle>Reportes</div>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>